html {
    height: 1500px;
}

*{
    padding: 0;
    margin: 0;
}

/* Nav-bar */

.welcome-nav {
    height: 100vh;
    width: 100%;
    background: url(https://cdn.discordapp.com/attachments/1092755296868376646/1100767516437000303/9rkWzZmnJ2SSFHmkXYXKW91tfqUmyWSDVV93RiwdqCKx-Q_kKekvD1Xf3DMXFgCuzFh3KFStQ3eHDhA8srQPui1Xf42GxoMjK0TEUGrtLFBADrP1vsfGvtwOGIzEan1PUww1280.png);
    background-size: cover;
    background-repeat: no-repeat;
}


nav{
    padding: 30px 80px;


    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

ul{
    color: lightslategray;
    list-style: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;

    

    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}

nav ul a:hover{
    color: brown;
    transform: 1.9s;
    cursor: pointer;
}

button{
    background-color: gray;

    font-size: 25px;
    font-weight: 800;

    border: none;
    padding: 10px;
    border-radius: 30px;
    
    transition: .4s;
}

nav a{
    text-decoration: none;

    display: flex;
    align-items: center;
    padding: 0;
    
}

button:hover{
    opacity: 0;
    cursor: pointer;
}

/* Welcome Titles */

.welcome-titles {    
    position: absolute;
    top: 45%;
    left: 45%
}

.welcome-text {
    color: darkcyan;

    font-size: 80px;
    font-family: sans-serif;
}